<ul>
  <% @files.each do |file| %>
      <a href="/<%= file %>"><%= file %></a>
      <br>
      <button><a href="/<%= file %>/edit"> Edit</a></button>
      <form action="<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    <br>
  <% end %>
</ul>

<p><a href="/new">Add New Document</a></p>

<% if session[:username] %>
  <p class="user-status">Signed in as: <%= session[:username] %></p>
  <form action="/users/logout" method="post">
    <button>Sign Out</button>
  </form>
<% else %>
  <form action="/users/login" method="get">
    <p class="user-status"><button type="submit">Login</button></p>
  </form>
<% end %>

